<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>ShareSafe</title>
</head>

<body>

    <header class="header">
        <a href="home" class="logo">ShareSafe</a>
    </header>

    <div class="wrapperWallet">

        <div class="form-box login">
            <h2>Send File Form</h2>
            <form action="/msg/send" method="POST" enctype="multipart/form-data">
                <div class="input-box" >
                    <h3>Send to...</h3>
                    <select id="chatName" name="chatName">
                        <!-- Adicione outras opções de usuários aqui -->
                        {{#each grupos}}
              <option value="{{this.nome}}">{{this.nome}}</option><br><br>
            {{/each}}
                        <!-- ... -->
                    </select>
                </div>
                <div class="input-box">
                    <h3>Choose a Cipher</h3>
                    <select id="cifra" name="cifra">
                        <option value="aes-256-cbc">AES-256</option>
                        <!-- Adicione outras opções de cifras aqui se necessário -->
                        <!-- <option value="otherCipher">Other Cipher</option> -->
                    </select>
                </div>
                <div class="input-box">
                    <h3>File to send...</h3>
                    <input type="file" id="fileToSend" name="fileToSend">
                </div>
                <button type="submit" class="btn">Send File</button>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/script.js"></script>
</body>

</html>
